@{
    ViewData["Title"] = "Profile - Rei";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pf_rei.css" />
}

<div>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 85vh;">
        <div class="card p-5 text-center profile-container">
                <div class="profile-avatar">
                    <img src="~/images/member-image/default.jpg" alt="Reina Chloe D. Magpantay" />
                </div>

                <div class="profile-card-body">
                    <h2 class="text-uppercase profile-title">Reina Chloe D. Magpantay</h2>
                    <h4 class="mb-5 text-uppercase role-title">Project Manager</h4>

                    <div class="profile-input-group text-start">
                        <label class="profile-label">Personal Email</label>
                        <input type="email" class="profile-form-control" placeholder="sample@gmail.com" readonly />
                    </div>

                    <div class="profile-input-group text-start">
                        <label class="profile-label">School Email</label>
                        <input type="email" class="profile-form-control" placeholder="sample@gmail.com" readonly />
                    </div>

                    <div class="profile-input-group text-start">
                        <label class="profile-label">Github</label>
                        <input type="email" class="profile-form-control" placeholder="sample@gmail.com" readonly />
                    </div>
                </div>
        </div>
    </div>

</div>
