:root {
    --bg-black: #121212;
    --card-black: #1e1e1e;

    --inner-dark: #1a1a1a;
    --border-dark: #333333;

    --primary-red: #d32f2f;
    --accent-red: #ff5252;
    --tint-red: #241414;

    --text-light: #f5f5f5;
    --text-muted: #a0a0a0;

   /* HANNA */
   --primary-pink: #ec6fa3;
--accent-pink: #e0529a;
--tint-pink: #3a1f2c;
--light-pink: #f2a8c7;

    /* SARAH */
    --primary-purple: #905BF4;
    --accent-purple: #7c3aed;
    --tint-purple: #1e1825;
    --light-purple: #C4A6FA;

    /* REI */
    --primary-blue: #60A5FA;
    --accent-blue: #3b82f6;
    --tint-blue: #15192a;
    --light-blue: #A8CCFC;

    /* ZACH */
    --primary-green: #4ADE80;
    --accent-green: #22c55e;
    --tint-green: #142019;
    --light-green: #A7F3C8;
}

.page-title {
    color: white;
    margin: 0;
    font-size: 2.2rem;
    font-weight: 800;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}